<!DOCTYPE html>
<html>
  <head>
    <title>RailsFacebook</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <p class="alert"><%= alert %></p>
    <p class="notice"><%= notice %></p>  
  </head>

  <body>
      <p class="alert"><%= alert %></p>
      <p class="notice"><%= notice %></p>  
      <% if user_signed_in? %>
	      <%= link_to "account settings",edit_user_registration_path%>
	      <%= link_to "sign_out" ,destroy_user_session_path,method: :delete%>
	    <%else%>
	       <%= link_to "sign_up", new_user_registration_path %>
	      <%= link_to "login",new_user_session_path %>
	    <%end%>
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    <%= yield %>
  </body>
</html>
